<template>
	<div class="text-page" :lang="store.lang">
		<wait-icon v-if="loading"/>
		<div v-if="warning" class="container my-5">
			<div class="alert alert-warning">{{warning}}</div>
		</div>
		<div class="text-block" ref="markdown-block-container"></div>
		<div class="container my-4 text-right" style="clear:both">
			<button class="btn btn-primary" v-on:click="$router.go(-1)">{{$t('back')}}</button>
		</div>

		<!-- Modal view image -->
		<modal-info v-if="showImageUrl" v-on:close="showImageUrl=''">
			<template v-slot:header>{{showImageText}}</template>
			<img :src="showImageUrl" style="width:100%">
		</modal-info>
	</div>
</template>

<script>
import ModalInfo from '../components/ModalInfo.vue';
import PageTitle from '../components/PageTitle.vue';
import WaitIcon from '../components/WaitIcon.vue';
import store from '../js/store.js';
import MarkdownIt from 'markdown-it';
import MarkdownItAttrs from 'markdown-it-attrs';

export default {
    name: 'markdown-page',
	components: { PageTitle, WaitIcon, ModalInfo },
	props: ['module','file'],
	data: function() {
		return {
			warning:'',
			loading:false,
			store:store,
			showImageUrl:'',
			showImageText:''
		}
	},
	watch: {
		"store.lang": function() { this.updateMarkdown() },
		"$route": 'updateMarkdown',
	},
	mounted: function() {
		this.updateMarkdown();
	},
	methods: {
		updateMarkdown: async function() {
			this.$refs['markdown-block-container'].innerHTML="";
			this.warning='';
			this.loading=true;
			var md=new MarkdownIt();
			md.use(MarkdownItAttrs);
			var moduleName=this.module ? this.module : this.$route.params['module'];
			var fileName=this.file ? this.file: this.$route.params['file'];
			var lang=this.$route.params['lang'] || store.lang;	//use lang param if present, allows deep links to certain language
			var url='./text/'+lang+'/'+moduleName+'/'+fileName+'.md';
			//try to load markdown file
			var response;
			try { response=await this.$axios.get(url,{baseURL: '.'}); }
			catch (e) {
				this.warning=this.$t('lang-not-available');
			}
			if (response) {
				//render
				var html=md.render(response.data);
				var container=this.$refs['markdown-block-container'];
				container.innerHTML=html;
				//update html meta infos
				var h1=container.querySelector('h1');
				var title = h1 ? h1.innerHTML : "";
				document.title=title;
				var sts=document.querySelector('p.subtitle');
				var desc = sts ? sts.innerHTML : "";
				document.querySelector('meta[name="description"]').setAttribute("content", desc);
				//update view and add listeners
				this.loading=false;
				this.addListeners();
			}
			else {
				this.warning=this.$t('missing-page-info')
				this.loading=false;
			}
		},
		addListeners: function() {
			var elements=document.getElementsByClassName('preview');
			for (var e of elements) {
				var src=e.src;
				if (e.nodeName=='IMG') {
					e.onclick=(ev)=> {
						this.showImageUrl=ev.srcElement.src;
						this.showImageText=ev.srcElement.alt;
					}
				}
			}
		}
	}
}
</script>

<style >
.text-page {-ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
</style>


<style src='../css/text-block.css'/>

<i18n>
{
	"de": {
		"back":"Zurück",
		"lang-not-available":"Das Dokument steht leider nur in einer anderen Sprache zur Verfügung.",
		"missing-page":"Dokument nicht verfügbar",
		"missing-page-info":"Das gesuchte Dokument steht leider nicht zur Verfügung - evtl. liegt dies daran, dass Sie eine Offline-Version der Anwendung nutzen."
	},
	"en": {
		"back": "Back",
		"lang-not-available": "Unfortunately, the requested document is only available in another language.",
		"missing-page": "Document not available",
		"missing-page-info": "The document you are looking for is not available - this may be due to the fact that you are using an offline version of the application."
	}
}
</i18n>
