<template>
	<div class="container">
		<modal-info v-if="showLockedInfo" v-on:close="showLockedInfo=false">{{$t('page-restricted')}}</modal-info>
		<div class="d-none d-md-block" id="menu-big-screen">
			<div class="row">
				<div class="col-6" v-for="entry in menu">
					<div class="card flex-row my-2 shadow div-hover" style="min-height:9rem" :class="{'opa05':entry.lock}" v-on:click="handleClick(entry)">
						<div class="card-body d-flex flex-column align-items-start">
							<p class="lead mb-2">{{entry.title}}</p>
							<p class="card-text mb-auto">{{entry.text}}</p>
						</div>
						<div class="card-img-right p-1 rounded-right bg-var" style="min-width:8em">
							<span style="height:100%;display:inline-block;vertical-align: middle"/>
							<img :src="entry.icon" style='width:7em;display:inline-block;vertical-align: middle;filter:invert(1)'>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- small screen-->
		<div class="d-md-none d-xs-block" id="menu-small-screen">
			<div class="p-1 my-1" style="width:100%" v-for="entry in menu">
				<div class="card flex-row shadow h-250 div-hover"  :class="{'opa05':entry.lock}" v-on:click="handleClick(entry)">
					<div class="card-body d-flex flex-column align-items-start py-3">
						<p class="lead mb-1">{{entry.title}}</p>
						<p class="card-text mb-auto">{{entry.text}}</p>
					</div>
					<div class="card-img-right p-1 rounded-right bg-var" style="min-width:5em">
						<span style="height:100%;display:inline-block;vertical-align: middle"/>
						<img :src="entry.icon" style='width:4em;display:inline-block;vertical-align: middle;filter:invert(1)'>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	//import MenuLargeEntry from './MenuLargeEntry.vue';
	import ModalInfo from './ModalInfo.vue';

	import color from 'Main/js/color.js';
	export default {
		name: 'menu-large',
		props: [ 'menu'],
		components: { ModalInfo},
		data: function() {
			return {
				showLockedInfo:false,
			}
		},
		mounted: function() { this.setBgVar() },
		updated: function() { this.setBgVar() },
		methods: {
			setBgVar:function() {
				color.setBgVar(document.getElementById('menu-big-screen'));
				color.setBgVar(document.getElementById('menu-small-screen'));
			},
			handleClick: function(entry) {
				if (entry.lock) return this.showLockedInfo=true;
				else if (entry.to) this.$router.push({name: entry.to, params: entry.params});
				else if (entry.href) window.open(entry.href);
			}
		}
	}

</script>

<style scoped>
	a.menu {color:var(--fg-text) }
	a.menu:hover {text-decoration: none}
</style>


<i18n>
{
	"de": {
		"page-restricted": "Diese Seite steht nur berechtigten Benutzern zur Verfügung."
	},
	"en": {
		"page-restricted": "This page is only available to authorized users."
	}
}
</i18n>