<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="$emit('accept')">
		<template v-slot:header>{{$t('confirmation')}}</template>
		<div class="card-body bg-white">
			<p>{{$t('confirm-cancel')}}</p>
		</div>
		<template v-slot:footer>
			<slot name="footer">
				<button class="btn btn-primary" v-on:click="$emit('accept')">{{$t('yes')}}</button>
				<button class="btn btn-secondary" v-on:click="$emit('close')">{{$t('no')}}</button>
			</slot>
		</template>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-confirm-cancel'
	}
</script>


<i18n>
{
	"de": {
		"confirmation": "Bestätigung",
		"confirm-cancel": "Möchten Sie wirklich abbrechen? Alle ungesicherten Daten gehen dabei verloren.",
		"yes": "Ja",
		"no": "Nein"
	},
	"en": {
		"confirmation": "Confirmation",
		"confirm-cancel": "Are you sure you want to cancel? All unsaved data will be lost.",
		"yes": "Yes",
		"no": "No"
	}
}
</i18n>