<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="$emit('accept')">
		<template v-slot:header>{{$t('confirmation')}}</template>
		<div class="card-body bg-white">
			<slot></slot>
		</div>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-confirm'
	}
</script>


<i18n>
{
	"de": {
		"confirmation": "Bestätigung"
	},
	"en": {
		"confirmation": "Confirmation"
	}
}
</i18n>